@media (min-width: 576px) and (max-width: 758.99px) {
    #search-bar, #search-bar:active, #search-bar:focus {
        width: 200px;
    }
    ul#list-img-media > li > a >img {
        width: 150px;
    }
    .back-to-top{
        bottom: 80px;
        right: 15px;
    }
    #preload{
        right: 20%;
        width: 150px;
    }
    .box-campaign {
        margin-top: 40px;
    }

}

@media (min-width: 759px) and (max-width: 992px) {
    #search-bar, #search-bar:active, #search-bar:focus {
        width: 200px;
    }
    
    .box-campaign{
        height: 500px;
    }

    .back-to-top{
        bottom: 100px;
        right: 25px;
    }
}

@media (max-width: 575.99px)
{
    #about{font-size: 1em;}
    h1{font-size: 30px;}
    h2{font-size: 24px;}
    h3{font-size: 18px;}
    #nav{padding-top: 5px;}
    .container-fluid{
        padding-left: 15px;
        padding-right: 15px;
    }
    .box-campaign{
/*        height: 450px;*/
    }
    ul#list-img-media > li > a >img {
        width: 70px;
    }
    ul#list-img-partner > li >img {
        width: 50px;
    }
    #separator{
        padding-top: 80px;
    }
    img.team{
        width: 100%;
        margin: 0 auto 0 auto;
    }
    img.icon-csr{
        width: 100%;
    }
    .back-to-top{
        bottom: 80px;
        right: 15px;
    }
    .history {
        font-size: 1em;
        font-weight: unset;
    }
    .creator {
        position: unset;
        bottom: unset;
        margin: 30px 0 0 0;
    }
    #preload{
        right: 30%;
        width: 150px;
    }
    .box-campaign {
        margin-top: 40px;
    }
    .box-community{
        min-height: unset;
    }
    .gabung-relawan{
        margin-top: 20px;
    }

    .frame-square-community {
      width: 100px;
      height: 100px;
    }

    .crop-community img {
        width: 100px;
    }
    .section{
        padding: 20px 0 60px 0;
    }

    /*tinymce modal dialog maxwidth*/
    #mce-modal-block {
    }

    .mce-window {
        width: auto !important;
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        background: none !important;
    }

    .mce-window-head {
        background: #fff !important;
    }

    .mce-window-body {
        background: #fff !important;
    }

    .mce-foot {
    }

    .mce-foot > .mce-container-body {
        padding: 10px !important;
    }

    .mce-foot button {
    }

    .mce-panel {
        max-width: 100% !important;
    }

    .mce-container {
        max-width: 100% !important;
        height: auto !important;
    }

    .mce-container-body {
        max-width: 100% !important;
        height: auto !important;
    }

    .mce-form {
        padding: 10px !important;
    }

    .mce-tabs {
        max-width: 100% !important;
    }

        .mce-tabs .mce-tab, .mce-tabs .mce-tab.mce-active {
        }

    .mce-formitem {
        margin: 10px 0 !important;
    }

    .mce-btn > button {
    }

    .mce-abs-layout-item {
        position: static !important;
        width: auto !important;
    }

    .mce-abs-layout-item.mce-label {
        display: block !important;
    }

    .mce-abs-layout-item.mce-textbox {
        -webkit-box-sizing: border-box !important;
        -moz-box-sizing: border-box !important;
        box-sizing: border-box !important;
        display: block !important;
        width: 100% !important;
    }

    .mce-abs-layout-item.mce-combobox {
        display: flex !important;
    }

    .mce-abs-layout-item.mce-combobox > .mce-textbox {
        -ms-flex: 1 1 auto;
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto;
        height: 29px !important;
    }
    /*end tinymce modal dialog maxwidth*/
    

}

@media (min-width: 576px)
{
    ul#list-img-partner > li >img {
        width: 80px;
    }
    img.team{
        width: 800px;
        margin: 0 auto 0 auto;
    }
    img.icon-csr{
        width: 70%;
    }
}

@media (max-width: 350px)
{
    #preload{
        right: 20%;
        width: 150px;
    }
}

@media (min-width: 576px) and (max-width: 991.99px) {
    .gabung-relawan{
        position: absolute;
        bottom: 20px;
        left: 35%;
    }
}

@media (min-width: 992px) {
    .gabung-relawan{
        position: absolute;
        bottom: 20px;
        left: 42%;
    }
}
