body{
    font-family: 'PT Sans', sans-serif !important;
    background-color: #F2F1F0;
    color: #111111;
}

.container-fluid{
    padding-left: 35px;
    padding-right: 35px;
}

#nav{
    min-height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    margin-bottom: 0px;
    z-index: 111;
}

.navbar-default{
    background-color: #fff;
    border-bottom: 2px solid #045f50;
    border-top: none;
    border-radius: unset;
}

.navbar-nav > li > a{
    padding-bottom: 10px;
    padding-top: 10px;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:active{
    color: #045f50;
    font-weight: bold;
    font-size: 1.2em;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover{
    border-color: transparent;
}

.btn-primer-outline{
    background-color: transparent;
    border: 2px solid #045f50;
    color: #045f50;
    font-weight: bold;
}

/*
.btn-primer-outline:hover{
    color: #045f50;
    font-weight: bold;
}
*/

.btn-primer-outline:hover, .btn-primer-outline:active, .btn-primer-outline:focus{
    background-color: #045f50;
    border: 2px solid #045f50;
    color: #fff;
    font-weight: bold;
}

.btn-sekunder{
    background-color: #f0ca4d;
    border: 2px solid #f0ca4d;
    color: #fff;
    font-weight: bold;
}

.btn-sekunder:hover, .btn-sekunder:active, .btn-sekunder:focus{
    color: #045f50;
}

.navbar-default .navbar-nav > li > a.btn-primer-outline:hover, .navbar-default .navbar-nav > li > a.btn-primer-outline:active, .navbar-default .navbar-nav > li > a.btn-primer-outline:focus{
    background-color: #045f50;
    border: 2px solid #045f50;
    color: #fff;
}

#top-nav{
    background-color: #045f50;
    color: #fff;
    border-radius: unset;
    height: inherit;
    min-height: unset;
    margin-bottom: 0;
}

.nav-top > li > a, .nav-top > li > a:hover, .nav-top > li > a:focus, .nav-top > li > a:active{
    color: #fff;
    background-color: transparent;
}

.fix-top{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#brand-img{
    height: inherit;
    position: relative;
    top: -15px;
}

#search-bar, #search-bar:active, #search-bar:focus{
    border-color: #ccc;
    border-left: none;
    border-top: none;
    border-right: none;
    border-radius: unset;
    box-shadow: unset;
    width: 300px;
    background-color: transparent;
}

.input-min, .input-min:hover, .input-min:active, .input-min:focus{
    border-color: #ccc;
    border-left: none;
    border-top: none;
    border-right: none;
    border-radius: unset;
    box-shadow: unset;
    background-color: transparent;
}

#home-header{
    background-size: cover;
    padding: 7% 0 0 0;
    color: #fff;
}

#about{
    text-align: center;
    font-size: 1.2em;
}

.btn{
    border-radius: 5px;
}

.btn-action, .btn-action:focus, .btn-action:hover, .btn-action:active{
    background-color: #f53855;
    border-color: #f53855;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.btn-link, .btn-link:focus, .btn-link:hover, .btn-link:active{
    background-color: #3498db;
    border-color: #3498db;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.btn-primer, .btn-primer:hover, .btn-primer:active, .btn-primer:focus{
    background-color: #045f50;
    border: 2px solid #045f50;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.container-read{
    margin: 0 8% 0 8%;
}

.section{
    padding: 40px 0 60px 0;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}

.title{
    text-align: center;
    font-weight: bold;
}

.box-campaign{
    border-radius: 5px;
/*            border: 1px solid #ccc;*/
    background-color: #fff;
    padding-bottom: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.19);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
/*    margin-top: 40px;*/
    min-height: 460px;
}

.box-partner, .box-community{
    border-radius: 5px;
/*            border: 1px solid #ccc;*/
    background-color: #fff;
    padding-bottom: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.19);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-top: 40px;
    min-height: 500px;
}

.creator{
    position: absolute;
    bottom: 10px;
}

.box-campaign:hover, .box-partner:hover, .box-community:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.bl, .bl:hover{
    color: #111111;
    text-decoration: none;
}

.img-campaign{
    height: 200px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.title-campaign{
    font-size: 1.4em;
    font-weight: bold;
    margin: 10px 0 20px 0;
}

.campaign{
    padding: 10px;
}

.icon-why{
    width: 100px;
    margin: 0 auto 0 auto;
}

#section-statistik{
    background-size: cover;
    padding: 5% 0 3% 0;
    color: #fff;
}

#footer{
    background-color: #fff;
    padding: 30px 0 40px 0;
}

#footer a, #footer a:hover{
    color: #045f50;
    text-decoration: none;
    font-weight: bold;
}

#foot-copy{
    background-color: #fff;
    color: #111;
    padding: 20px 0 20px 0;
}

ul.link-footer > li, ul.link-footer > li a, ul.link-footer > li a:hover, ul.link-footer > li a:active, ul.link-footer > li a:focus{
    list-style: none;
    color: #045f50;
    font-weight: bold;
    text-decoration: none;
    margin-left: -20px;
}

.form-control#subscribe:active, .form-control#subscribe:focus{
    border-color: #045f50;
}

ul#socmed{
    margin-left: -40px;
}

ul#socmed > li{
    list-style: none;
    display: inline-block;
}

ul#socmed > li > img{
    width: 28px;
}

a svg:hover .fb-lh{
    fill: #204385;
}

a svg:hover .tw-lh{
    fill: #00aced;
}

a svg:hover .gp-lh{
    fill: #d34836;
}

a svg:hover .yt-lh{
    fill: #d02525;
}

a svg:hover .ig-lh{
    fill: #c32aa3;
}

a svg:hover .in-lh{
    fill: #0077b5;
}

a, a:hover, a:focus, a:active{
    color: #3498db;
    text-decoration: none;
}

#box-donasi{
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    padding: 40px;
    top: 40px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.10);
}

.fa{
    padding-top: 3px;
}

.btn-facebook, .btn-google, .btn-twitter{
    border: unset;
}

.ket-login{
    color: #ccc;
    padding-top: 30px;
    padding-bottom: 10px;
}

.nav-tabs > li{
    width: 50%;
    text-align: center;
}

.nav-tabs > li > a{
    color: #111111;
}

.nav-tabs > li > a:hover{
    border: unset;
}

.nav > li > a:hover{
    background-color: transparent;
}

.nav-tabs > li.active > a{
    border-top: unset;
    border-left: unset;
    border-right: unset;
    border-bottom: 2px solid #045f50;
    font-weight: bold;
    background-color: transparent;
    color: #045f50;
}

.nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:active{
    border: unset;
    border-bottom: 2px solid #045f50;
    background-color: transparent;
    color: #045f50;
    font-weight: bold;   
}

.tab-content{
    padding: 30px;
}
        
.bold{
    font-weight: bold;
}

#subscribing{
    padding-top: 25px;
    padding-bottom: 20px;
    background-color: #07ab90;
    color: #fff;
}

.form-control:focus{
    border-color: #045f50;
}

#nav-icon3{
  width: 30px;
/*          height: 45px;*/
  position: relative;
/*          margin: 50px auto;*/
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span{
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #045f50;
  border-radius: 4px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: -35px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: -25px;
}

#nav-icon3 span:nth-child(4) {
  top: -15px;
}

#nav-icon3.open span:nth-child(1) {
  top: -25px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: -25px;
  width: 0%;
  left: 50%;
}

#mobile-navbar{
    display:none;
    height:100%;
    position:fixed;
    top:60px;
    z-index:10;
    background-color:rgba(255,255,255,0.95);
    padding:20px 30px 20px 20px;
}

ul#list-mobile-navbar > li{
    list-style: none;
    margin-left: -20px;
    line-height: 2;
    font-weight: bold;
    font-size: 16px;
}

ul#list-mobile-navbar > li > a{
    color: #045f50;
}

.judul-kampanye{
    padding: 0 0 40px 0;
}

.table-contribute{
    margin: 20px 0 20px 0;
}

#kontent-kampanye p{
    font-size: 1.3em;
    line-height: 1.5;
    margin-bottom: 20px;
}

#disclaimer{
    color: #ccc;
    padding-top: 60px;
}

.tab-content.tab-donate{
    padding: 10px 5px 30px 5px;
}

.float-fix{
    width: 25.7%;
    position: fixed;
    top: 77px;
    background-color: #F2F1F0;
    padding: 20px 0 20px 0;
    z-index: 999;
}
.isi img{
    width: 100%;
    height: auto;
}

#agenda{
    margin-top: 200px;
    font-size: 1.3em;
    line-height: 1.5;
    padding-left: 10px;
}

/*donasi*/
.checkbox {
  padding-left: 20px; }
  .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 25px;
      height: 25px;
      left: 0;
      margin-left: -23px;
      margin-top: -2px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
    .checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      top: 0;
      margin-left: -20px;
/*
      padding-left: 3px;
      padding-top: 1px;
*/
      font-size: 16px;
      color: #555555; }
  .checkbox input[type="checkbox"] {
    opacity: 0; }
    .checkbox input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .checkbox input[type="checkbox"]:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c"; }
    .checkbox input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
      .checkbox input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }
  .checkbox.checkbox-circle label::before {
    border-radius: 50%; }
  .checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #045f50;
  border-color: #045f50; }
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff; }

ol.confirm > li{
    font-size: 1.2em;
    line-height: 1.5;
}

#masuk{
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.10);
    padding: 20px;
}

img.logo-hover {
/* filter: url(filters.svg#grayscale); Firefox 3.5+ */
  filter: gray; /* IE5+ */
  -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
  -webkit-transition: all .1s ease-in-out;
}

img.logo-hover:hover {
filter: none;
  -webkit-filter: grayscale(0);
}

ul#list-img-media, ul#list-img-partner{
    margin-left: -40px;
    margin-top: 40px;
}

ul#list-img-media > li, ul#list-img-partner > li{
    list-style: none;
    display: inline-block;
    padding: 10px;
}

ul#list-img-media > li > a >img {
    width: 150px;
}

ul#list-img-media > li > img {
    width: 150px;
}

.kotak{
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.10);
    padding: 20px;
}

ul#list-img-media > li > a > img{
    width: 150px;
}


.filer-input-dragDrop {
    display: block;
    width: 100%;
    margin: 0 auto 25px auto;
    padding: 50px 0;
    color: #8d9499;
    color: #97A1A8;
    cursor: pointer;
    background: #fff;
    border: 2px dashed #C8CBCE;
    text-align: center;
    -webkit-transition: box-shadow 0.3s,
                        border-color 0.3s;
    -moz-transition: box-shadow 0.3s,
                        border-color 0.3s;
    transition: box-shadow 0.3s,
                        border-color 0.3s;
                        overflow: hidden;
}
.filer-input-dragDrop:hover,
.hoverClass {
  border-color: #868686;
}
.filer.dragged .filer-input-dragDrop {
    border-color: #aaa;
    box-shadow: inset 0 0 20px rgba(0,0,0,.08);
}

.filer.dragged .filer-input-dragDrop * {
    pointer-events: none;
}

.filer.dragged .filer-input-icon {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.filer.dragged .filer-input-text,
.filer.dragged .filer-input-choose-btn {
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.filer-input-dragDrop .filer-input-icon {
    font-size: 70px;
    margin-top: -10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.filer-input-text h3 {
    margin: 0;
    font-size: 18px;
}

.filer-input-text span {
    font-size: 12px;
}

.filer-input-choose-btn {
    display: inline-block;
    padding: 8px 14px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    font-size: 12px;
    font-weight: bold;
    color: #8d9496;
    border-radius: 3px;
    border: 1px solid #c6c6c6;
    vertical-align: middle;
    background-color: #fff;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.05);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.filer-input-choose-btn:hover,
.filer-input-choose-btn:active {
    color: inherit;
}

.filer-input-choose-btn:active {
    background-color: #f5f5f5;
}
.previewPhoto {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background: #FFF;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: none;
  cursor: default;
}
.btn-remove-photo {
  position: absolute; 
  top: 20px; 
  right: 20px;
}

.ui-draggable .ui-dialog-titlebar { cursor: move; }

input[id="filePhoto"] {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    outline: none;
    cursor: inherit;
    font-size: 100px;
    /*display: block;*/
}

.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
/*  margin-top: 2em;*/
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #045f50;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #333;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #045f50;
}

.back-to-top{
    position: fixed; bottom: 100px; right: 30px; width: 40px; height: 40px; color: rgb(238, 238, 238); line-height: 40px; text-align: center; background-color: rgb(34, 45, 50); cursor: pointer; border-radius: 25px; z-index: 99999; opacity: 0.7; display: none;
}

.history{
    font-size: 1.5em;
/*    font-weight: bold;*/
}

.wrap-loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000;
    background: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
}

#preload{
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 40%;
    right: 42%;
    width: 200px;
}

.frame-square-community {
    background: #fff;
    display: inline-block;
    vertical-align: baseline;
    width: 200px;
    height: 200px;
}

.crop-community {
    height: 100%;
    overflow: hidden;
    position: relative;
}

.crop-community img {
    display: block;
    width: 2000px;
    margin: auto;
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
}

.popout { 
    cursor: pointer; 
    max-width: 880px; 
    display: none; 
    padding: 10px; 
    background: rgba(0,0,0,0.85); 
    color: rgb(255, 255, 255); 
    font-size: 12px; 
    border-radius: 3px; 
    position: fixed; 
    top: 75px; 
    z-index: 1100; 
    overflow: hidden; 
    width: 40.857%; 
    text-align: center; 
    font-weight: bold; 
    left: 29%; 
    right: 20%; 
}
.popout-error {
   background: rgba(255, 0, 0, 0.9)  !important; 
} 